<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/UXU/IdeaProjects/reviewtestng/src/test/java/com/review/excelautomation/WriteExcel.java">
        <classes>
            <class name="com.review.excelautomation.WriteExcel">
                <methods>
                    <include name="WriteExcel"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>